@font-face {
  font-family: "Bebas Neue";
  src: url("assets/fonts/bebas-neue.woff2");

  font-family: "VT323 Regular";
  src: url("assets/fonts/vt3-webfont.woff2");

  font-family: "VT323 Regular";
  src: url("assets/fonts/vt3-webfont.woff");
}


html,
body,
div,
span,
applet,
object,
iframe,
blockquote,
pre,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}
article,
aside,
details,
figcaption,
figure,
hgroup,
menu,
nav,
section {
    display: block
}
body {
    line-height: 1
}
ol,
ul {
    list-style: none
}
blockquote,
q {
    quotes: none
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none
}
table {
    border-collapse: collapse;
    border-spacing: 0
}

/*----*/
body {
  background-color: #000000;
  background-repeat: repeat;
  color: white;
  font-family: 'Bebas Neue';
  letter-spacing: 0.2rem;
  margin: 0;
  overflow: hidden;
  perspective: 1000px;
  text-transform: uppercase;
}

.link { color: #ebdc0e; }
.link:hover { color: #e4bb03; }

 /* Calculation */
 * {
  --responsive: calc((var(--min-font) * 1px) + (var(--max-font) - var(--min-font)) * ((100vw - 420px) / (1200 - 420))); /* Ranges from 421px to 1199px */
}

.site-wrap {
  transition: transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
}
.site-wrap.show-all {
  transform: rotateY(-15deg) scale(0.2);
}
.panel-wrap {
  height: 100vh;
  width: 100vw;
}

h1 {
  font-family: 'Bebas Neue';
  font-size: 20vmin;
  margin: auto  0vmax;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -10;
}


@media only screen and (max-width: 650px) {
  h1 {
  margin-top: -4vw;
  }

  @media only screen and (max-width: 450px) {
    h1 {
    margin-top: -8vw;
    }
}

@media only screen and (max-width: 350px) {
  h1 {
  margin-top: -10vw;
  }
}

@media only screen and (max-width: 300px) {
  h1 {
  margin-top: -12vw;

  }
}
}

h2
{
  --max-font: 28;
  --min-font: 12;
  font-size: var(--responsive);
  position: relative;
  text-align: center;
  margin-top: 15%;
}
h3
{
  --max-font: 25;
  --min-font: 14;
  font-size: var(--responsive);
  
}
h4
{
  --max-font: 18;
  --min-font: 12;
  font-size: var(--responsive);
}
p
{
  --max-font: 20;
  --min-font: 8;
  font-size: var(--responsive);
}

/* Centrar Box */

.padre {
  display: inline-table;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-top: 11%;
  margin-left: 15%;
  margin-right: 15%;
  z-index: -5;
  
}

.hijo {
  display: inline-table;
}
@media only screen and (max-width: 1350px) {
  .padre {
    padding-top: 15%;
  }

  @media only screen and (max-width: 1100px) {
    .padre{
      padding-top: 20%;
    }
}

@media only screen and (max-width: 950px) {
  .padre {
    padding-top: 25%;
  }
  .hijo {
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media only screen and (max-width: 780px) {
  .padre {
    padding-top: 35%;
  }
  .hijo {
    padding-left: 18%;
    padding-right: 18%;
  }
}
}

button
{
font: inherit;
font-size: inherit;
background: inherit;
position: inherit;
border: none;
}

 /* Responsiva de la web */
.panel-wrap {
  perspective: 2000px;
  transition: transform 0.3s cubic-bezier(0.55, 0, 0.1, 1);
}
.panel-wrap.animate--shrink,
.panel-wrap.animate--tilt,
.panel-wrap.animate--tilt2 {
  transition: transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0.3s;
}
.panel {
  height: 100vh;
  position: absolute;
  transition: transform 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  width: 100vw;
  will-change: transform;
}
.panel:before {
  background-color: transparent;
  bottom: 0;
  content: "";
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  transition: background-color 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: 2;
}
.show-all .panel:before {
  pointer-events: all;
}
.show-all .panel:hover:before {
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}
.animate--shrink.animate .panel {
  transform: scale(0.9);
}
.animate--tilt.animate .panel {
  transform: scale(0.6) rotateY(-25deg);
}
.animate--tilt2.animate .panel {
  transform: scale(0.8) rotateX(25deg);
}
.panel h1 {
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  user-select: none;
}
.panel[data-x-pos="-2"] {
  left: -200%;
}
.panel[data-x-pos="-1"] {
  left: -100%;
}
.panel[data-x-pos="1"] {
  left: 100%;
}
.panel[data-x-pos="2"] {
  left: 200%;
}
.panel[data-y-pos="-2"] {
  top: 200%;
}
.panel[data-y-pos="-1"] {
  top: 100%;
}
.panel[data-y-pos="1"] {
  top: -100%;
}
.panel[data-y-pos="2"] {
  top: -200%;
}
.panel__zoom {
  text-align: center;
  cursor: pointer;
  left: 50%;
  opacity: 0.2;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%) translateY(-12vmin);
  transition: opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  user-select: none;
  z-index: 10;
}
.panel__zoom:hover {
  opacity: 1;
}
.show-all .panel__zoom {
  pointer-events: none;
}
.panel__nav {
  cursor: pointer;
  opacity: 0.2;
  position: absolute;
  transition: opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  user-select: none;
  will-change: opacity;
}
.panel__nav--up {
  left: 50%;
  top: 1rem;
  transform: translateX(-50%);
}
.panel__nav--left {
  left: 1rem;
  top: 50%;
  transform: translateY(-50%) rotate(-90deg) translateX(-100%);
  transform-origin: top left;
}
.panel__nav--left-top {
  left: 1rem;
  top: 1rem;
}
.panel__nav--left-down {
  bottom: 1rem;
  left: 1rem;
}
.panel__nav--right {
  right: 1rem;
  top: 50%;
  transform: translateY(-50%) rotate(90deg) translateX(100%);
  transform-origin: top right;
}
.panel__nav--right-top {
  right: 1rem;
  top: 1rem;
}
.panel__nav--right-down {
  bottom: 1rem;
  right: 1rem;
}
.panel__nav--down {
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
}
.panel__nav:hover {
  opacity: 1;
}
.panel__animation-list {
  font-size: 3.5vmin;
  left: 50%;
  position: absolute;
  top: 50%;
  padding-left: 2%;
  padding-right: 2%;
  transform: translateX(-50%) translateY(-50%) translateY(18vmin);
}

@media only screen and (max-width: 650px) {
  .panel__animation-list  {
    font-size: 4.3vmin;
    margin-top: 3%;
    text-align: center;
    padding-left: 3%;
  padding-right: 3%;
  transform: translateX(-50%) translateY(-50%) translateY(20vmin);
  }
  @media only screen and (max-width: 450px) {
    .panel__animation-list  {
      font-size: 5.3vmin;
      text-align: center;
      margin-top: 2%;
      padding: 4%;
    transform: translateX(-50%) translateY(-50%) translateY(26vmin);
    }
}
}
.panel__animation-list span {
  cursor: pointer;
  display: inline-block;
  opacity: 0.2;
  position: relative;
  transition: opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  user-select: none;
}
.panel__animation-list span:after {
  border-bottom: 1vmin solid transparent;
  bottom: 0;
  content: "";
  left: -1px;
  position: absolute;
  right: 0;
  transition: border-color 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  width: 100%;
}
.panel__animation-list span.active,
.panel__animation-list span:hover {
  opacity: 1;
}
.panel__animation-list span.active:after,
.panel__animation-list span:hover:after {
  border-color: white;
}
/**
 *Animacion
 *
 * -------------------------------------------------------------------
 */

 svg {

  font: 100% 'Bebas Neue';
  position: inherit;
  width: 800px;
  height: 200px;
  z-index: -10;
}

.text-copy {
  fill: none;
  stroke: white;
  stroke-dasharray: 6% 29%;
  stroke-width: 5px;
  stroke-dashoffset: 0%;
  animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
stroke: #fcc35a;
animation-delay: -1;
}

.text-copy:nth-child(2){
stroke: #fde3b4;
animation-delay: -2s;
}

.text-copy:nth-child(3){
stroke: #fdd997;
animation-delay: -3s;
}

.text-copy:nth-child(4){
stroke: #f7a610;
animation-delay: -4s;
}

.text-copy:nth-child(5){
stroke: #FDB731;
animation-delay: -5s;
}

@keyframes stroke-offset{
100% {stroke-dashoffset: -35%;}
}

/**
 *Cubos animacion
 *
 * -------------------------------------------------------------------
 */
 .wrapper {
  display: inline-block;
  position: relative;

}
.wrapper:first-child .container {
  -webkit-animation: boxFlip 4.5s infinite;
  -moz-animation: boxFlip 4.5s infinite;
  animation: boxFlip 4.5s infinite;
  -webkit-animation-timing-function: cubic-bezier(0.29, 1.53, 0.33, 1.01);
  -moz-animation-timing-function: cubic-bezier(0.29, 1.53, 0.33, 1.01);
  animation-timing-function: cubic-bezier(0.29, 1.53, 0.33, 1.01);
}

.container {
  display: block;
  width: 14vmax;
  height: 14vmax;
  margin: 0px auto;
  text-align: center;
  position: relative;
  -webkit-animation-direction: alternate;
  -moz-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transform: rotateX(0deg) translateZ(7vmax);
  -moz-transform: rotateX(0deg) translateZ(7vmax);
  -ms-transform: rotateX(0deg) translateZ(7vmax);
  -o-transform: rotateX(0deg) translateZ(7vmax);
  transform: rotateX(0deg) translateZ(7vmax);
  -webkit-transition: all 0.4s cubic-bezier(0.29, 1.53, 0.33, 1.01);
  -moz-transition: all 0.4s cubic-bezier(0.29, 1.53, 0.33, 1.01);
  transition: all 0.4s cubic-bezier(0.29, 1.53, 0.33, 1.01);
}
.container p {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  margin: 0;
  padding: 0 1vh;
}

.container:hover {
  -webkit-transform: rotateX(90deg) translateZ(7vmax);
  -moz-transform: rotateX(90deg) translateZ(7vmax);
  -ms-transform: rotateX(90deg) translateZ(7vmax);
  -o-transform: rotateX(90deg) translateZ(7vmax);
  transform: rotateX(90deg) translateZ(7vmax);
}

.box-front, .box-bottom {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.box-front {
  background-color: #38c459;
}

.box-bottom {
  background-color: #20B886;
  color: #e9d417;
  transform: translate3D(0, 7vmax, -7vmax) rotateX(-90deg);
}

.fa1 {
  background-color: #3b5998;
}

.fa2 {
  background-color: #263d70;
  color: #e9d417;
  transform: translate3D(0, 7vmax, -7vmax) rotateX(-90deg);x
}

.hu1 {
  background-color: #D04034;
}

.hu2 {
  background-color: #ffffff;
  color: #bd930a;
  transform: translate3D(0, 7vmax, -7vmax) rotateX(-90deg);
}

@-webkit-keyframes boxFlip {
  0%, 15% {
    -webkit-transform: rotateX(0deg) translateZ(7vmax);
  }
  35%, 65% {
    -webkit-transform: rotateX(90deg) translateZ(7vmax);
  }
  85%, 100% {
    -webkit-transform: rotateX(0deg) translateZ(7vmax);
  }
}
@-moz-keyframes boxFlip {
  0%, 15% {
    -moz-transform: rotateX(0deg) translateZ(7vmax);
  }
  35%, 65% {
    -moz-transform: rotateX(90deg) translateZ(7vmax);
  }
  85%, 100% {
    -moz-transform: rotateX(0deg) translateZ(7vmax);
  }
}
@keyframes boxFlip {
  0%, 15% {
    -webkit-transform: rotateX(0deg) translateZ(7vmax);
    -moz-transform: rotateX(0deg) translateZ(7vmax);
    -ms-transform: rotateX(0deg) translateZ(7vmax);
    -o-transform: rotateX(0deg) translateZ(7vmax);
    transform: rotateX(0deg) translateZ(7vmax);
  }
  35%, 65% {
    -webkit-transform: rotateX(90deg) translateZ(7vmax);
    -moz-transform: rotateX(90deg) translateZ(7vmax);
    -ms-transform: rotateX(90deg) translateZ(7vmax);
    -o-transform: rotateX(90deg) translateZ(7vmax);
    transform: rotateX(90deg) translateZ(7vmax);
  }
  85%, 100% {
    -webkit-transform: rotateX(0deg) translateZ(7vmax);
    -moz-transform: rotateX(0deg) translateZ(7vmax);
    -ms-transform: rotateX(0deg) translateZ(7vmax);
    -o-transform: rotateX(0deg) translateZ(7vmax);
    transform: rotateX(0deg) translateZ(7vmax);
  }
}
/**
 *Web Dessing
 *
 * -------------------------------------------------------------------
 */
* {
  box-sizing: border-box;
}

.console-font
{
  color: #14fdce;
  display: inline-table;
}
.pantalla {
  background: #383838;
  color: #14fdce;
  -webkit-font-smoothing: none;
  line-height: 1.2;
}
.sistema {
  font-size: 4rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  text-align: center;
}
.incapacitado {
  margin-bottom: 2rem;
  padding: none;
  --max-font: 18;
  --min-font: 12;
  font-size: var(--responsive);
}

.menu-pantalla {
  font-family: URL ;
  width: auto;
  margin: 1%;
  text-align: center;
  justify-content: center;
  align-items: center;

}


.steam,
.steam:visited {
  border-bottom: 0.2rem solid #14fdce;
  color: #14fdce;
  text-decoration: none;
}
.steam:active,
.steam:focus,
.steam:hover {
  background-color: #14fdce;
  color: #031e11;
}
.piece {
  display: block;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}
.noclick {
  pointer-events: none;
}
.framep {
  background-color: transparent;
  border-radius: 2rem;
  border: 1rem solid;
  border-bottom-color: #121212;
  border-left-color: #080808;
  border-right-color: #080808;
  border-top-color: #020202;
  box-shadow: inset 0 0 18rem black,
    inset 0 0 3rem black,
    0 0 10rem black;
  height: 96%;
  position: absolute;
  top: 2%;
  left: 2%;
  width: 96%;
  pointer-events: none;
}
.emblem {
  display: none;
  position: absolute;
  left: 50%;
  bottom: 0;
  font-size: 2rem;
  height: 3rem;
  width: 3rem;
  text-align: center;
  color: white;
  background: -webkit-linear-gradient(#fff, #555);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0.1rem 0rem rgba(0, 0, 0, 0.4), 0 0 2rem rgba(0, 0, 0, 0.8);
  transform: translate(-50%);
}
.output {
          animation: crt-output 10ms infinite;
  background-color: #031e11;
  position: absolute;
  padding: 3rem 2rem;
  pointer-events: auto;
  text-shadow: 0rem 0.2rem 1rem #0c7b46;
  z-index: -1;
}
@-webkit-keyframes crt-output {
  0% {
    opacity: 0.9;
  }
  50% {
    opacity: 1;
  }
}
@keyframes crt-output {
  0% {
    opacity: 0.9;
  }
  50% {
    opacity: 1;
  }
}
.scanlines {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.2) 70%, rgba(0, 0, 0, 0.6));
  background-size: 100% 0.3rem;
  border-radius: 2rem;
  position: absolute;
}
.glow {
  -webkit-animation: crt-glow 60s infinite;
          animation: crt-glow 60s infinite;
  background: radial-gradient(circle at center, #1bd459 0%, rgba(27, 212, 89, 0.88) 58%, rgba(21, 235, 92, 0.57) 80%, rgba(19, 94, 29, 0.27) 93%, rgba(10, 23, 12, 0) 100%);
  opacity: 0.15;
  pointer-events: none;
  position: fixed;
}
@-webkit-keyframes crt-glow {
  0% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.2;
  }
}
@keyframes crt-glow {
  0% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.2;
  }
}
::-moz-selection {
  background-color: #14fdce;
  color: #031e11;
}
::selection {
  background-color: #14fdce;
  color: #031e11;
}

