/**
 Configuracion basica
 * -------------------------------------------------------------------
 */

 @import url(https://fonts.googleapis.com/css2?family=Bebas+Neue);


body {
  background-color: #000000;
  background-image: url();
  background-repeat: repeat;
  color: white;
  font-family: 'Bebas Neue';
  letter-spacing: 0.2rem;
  margin: 0;
  overflow: hidden;
  perspective: 1000px;
  text-transform: uppercase;
}

.link { color: #ebdc0e; }
.link:hover { color: #e4bb03; }

/**
 *Etiquetas H
 *
 * -------------------------------------------------------------------
 */
  /* Calculation */
  * {
  --responsive: calc((var(--min-font) * 1px) + (var(--max-font) - var(--min-font)) * ((100vw - 420px) / (1200 - 420))); /* Ranges from 421px to 1199px */
}



h1 {
  text-transform: uppercase;
  font-family:Impact;
  display: inline-block;
  position: absolute;
  --max-font: 160;
  --min-font: 80;
  font-size: var(--responsive);
  left: 50%;
  line-height: 1;
  position: absolute;
  text-align: center;
  top: 36%;
  transform: translateX(-50%) translateY(-50%);
  user-select: none;
}
h2 {
  text-align: center;
  --max-font: 30;
  --min-font: 10;
  font-size: var(--responsive);
}
h3 {
  text-align: center;
  --max-font: 20;
  --min-font: 12;
  font-size: var(--responsive);
}

h4 {
  text-align: center;
  --max-font: 13;
  --min-font: 8;
  font-size: var(--responsive);
}
p {
  text-align: center;

}

.box{
  padding: 5vh;
  max-width: 80% ;
  max-height: 80%;
  display: inline-table;

}
.cont{
  --max-font: 19;
  --min-font: 15;
  font-size: var(--responsive);
  text-align: center;
  display: inline-table;
  left: 50%;
  position: absolute;
  top: 60%;
  bottom: 5%;
  transform: translateX(-50%) translateY(-50%) translateY(12vmin);
}
.cente{
  font-size: var(--responsive);
  left: 50%;
  position: absolute;
  top: 31%;
  bottom: 5%;
  transform: translateX(-50%) translateY(-50%) translateY(12vmin);
}






/**
 * Sitio
 *
 * -------------------------------------------------------------------
 */
.site-wrap {
  transition: transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
}
.site-wrap.show-all {
  transform: rotateY(-15deg) scale(0.2);
}
.panel-wrap {
  height: 100vh;
  width: 100vw;
}
.panel-wrap {
  perspective: 2000px;
  transition: transform 0.3s cubic-bezier(0.55, 0, 0.1, 1);
}
.panel-wrap.animate--shrink,
.panel-wrap.animate--tilt,
.panel-wrap.animate--tilt2 {
  transition: transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0.3s;
}
.panel {
  height: 100vh;
  position: absolute;
  transition: transform 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  width: 100vw;
  will-change: transform;
}
.panel:before {
  background-color: transparent;
  bottom: 0;
  content: "";
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  transition: background-color 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: 2;
}
.show-all .panel:before {
  pointer-events: all;
}
.show-all .panel:hover:before {
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}
.animate--shrink.animate .panel {
  transform: scale(0.9);
}
.animate--tilt.animate .panel {
  transform: scale(0.6) rotateY(-25deg);
}
.animate--tilt2.animate .panel {
  transform: scale(0.8) rotateX(25deg);
}

.panel[data-x-pos="-2"] {
  left: -200%;
}
.panel[data-x-pos="-1"] {
  left: -100%;
}
.panel[data-x-pos="1"] {
  left: 100%;
}
.panel[data-x-pos="2"] {
  left: 200%;
}
.panel[data-y-pos="-2"] {
  top: 200%;
}
.panel[data-y-pos="-1"] {
  top: 100%;
}
.panel[data-y-pos="1"] {
  top: -100%;
}
.panel[data-y-pos="2"] {
  top: -200%;
}
.panel__zoom {
  cursor: pointer;
  left: 50%;
  opacity: 0.2;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%) translateY(-12vmin);
  transition: opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  user-select: none;
  z-index: 10;
}
.panel__zoom:hover {
  opacity: 1;
}
.show-all .panel__zoom {
  pointer-events: none;
}
.panel__nav {
  cursor: pointer;
  opacity: 0.2;
  position: absolute;
  transition: opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  user-select: none;
  will-change: opacity;
}
.panel__nav--up {
  left: 50%;
  top: 1rem;
  transform: translateX(-50%);
}
.panel__nav--left {
  left: 1rem;
  top: 50%;
  transform: translateY(-50%) rotate(-90deg) translateX(-100%);
  transform-origin: top left;
}
.panel__nav--left-top {
  left: 1rem;
  top: 1rem;
}
.panel__nav--left-down {
  bottom: 1rem;
  left: 1rem;
}
.panel__nav--right {
  right: 1rem;
  top: 50%;
  transform: translateY(-50%) rotate(90deg) translateX(100%);
  transform-origin: top right;
}
.panel__nav--right-top {
  right: 1rem;
  top: 1rem;
}
.panel__nav--right-down {
  bottom: 1rem;
  right: 1rem;
}
.panel__nav--down {
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
}
.panel__nav:hover {
  opacity: 1;
}
.panel__animation-list {
  font-size: 5.3vmin;
  text-align: center;
  left: 50%;
  position: absolute;
  top: 58%;
  transform: translateX(-50%) translateY(-50%) translateY(12vmin);
}
.panel__animation-list span {
  cursor: pointer;
  display: inline-block;
  margin: 1%;
  opacity: 0.2;
  position: relative;
  transition: opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  user-select: none;
}
.panel__animation-list span:after {
  border-bottom: 0.3vmin solid transparent;
  bottom: 0;
  content: "";
  left: -1px;
  position: absolute;
  right: 0;
  transition: border-color 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  width: 100%;
}
.panel__animation-list span.active,
.panel__animation-list span:hover {
  opacity: 1;
}
.panel__animation-list span.active:after,
.panel__animation-list span:hover:after {
  border-color: white;
}
/**
 *Animacion
 *
 * -------------------------------------------------------------------
 */

 svg {
     display: block;
     font: 100% 'Bebas Neue';
     width: 800px;
     height: 200px;
     margin: 0 auto;
 }
 .text-copy {
     fill: none;
     stroke: white;
     stroke-dasharray: 6% 29%;
     stroke-width: 5px;
     stroke-dashoffset: 0%;
     animation: stroke-offset 5.5s infinite linear;
 }
 .text-copy:nth-child(1){
   stroke: #fcc35a;
   animation-delay: -1;
 }
 .text-copy:nth-child(2){
   stroke: #fde3b4;
   animation-delay: -2s;
 }
 .text-copy:nth-child(3){
   stroke: #fdd997;
   animation-delay: -3s;
 }
 .text-copy:nth-child(4){
   stroke: #f7a610;
   animation-delay: -4s;
 }
 .text-copy:nth-child(5){
   stroke: #FDB731;
   animation-delay: -5s;
 }

 @keyframes stroke-offset{
   100% {stroke-dashoffset: -35%;}
 }

.caja{
 position: relative;
 }
/**
 *Cubos animacion
 *
 * -------------------------------------------------------------------
 */
 .wrapper {
  display: inline-block;
  position: relative;

}
.wrapper:first-child .container {
  -webkit-animation: boxFlip 4.5s infinite;
  -moz-animation: boxFlip 4.5s infinite;
  animation: boxFlip 4.5s infinite;
  -webkit-animation-timing-function: cubic-bezier(0.29, 1.53, 0.33, 1.01);
  -moz-animation-timing-function: cubic-bezier(0.29, 1.53, 0.33, 1.01);
  animation-timing-function: cubic-bezier(0.29, 1.53, 0.33, 1.01);
}

.container {
  display: block;
  width: 20vh;
  height: 20vh;
  margin: 0px auto;
  text-align: center;
  position: relative;
  -webkit-animation-direction: alternate;
  -moz-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transform: rotateX(0deg) translateZ(10vh);
  -moz-transform: rotateX(0deg) translateZ(10vh);
  -ms-transform: rotateX(0deg) translateZ(10vh);
  -o-transform: rotateX(0deg) translateZ(10vh);
  transform: rotateX(0deg) translateZ(10vh);
  -webkit-transition: all 0.4s cubic-bezier(0.29, 1.53, 0.33, 1.01);
  -moz-transition: all 0.4s cubic-bezier(0.29, 1.53, 0.33, 1.01);
  transition: all 0.4s cubic-bezier(0.29, 1.53, 0.33, 1.01);
}
.container p {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  margin: 0;
  padding: 0 1vh;
}

.container:hover {
  -webkit-transform: rotateX(90deg) translateZ(10vh);
  -moz-transform: rotateX(90deg) translateZ(10vh);
  -ms-transform: rotateX(90deg) translateZ(10vh);
  -o-transform: rotateX(90deg) translateZ(10vh);
  transform: rotateX(90deg) translateZ(10vh);
}

.box-front, .box-bottom {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.box-front {
  background-color: #38c459;
}

.box-bottom {
  background-color: #20B886;
  color: #e9d417;
  transform: translate3D(0, 10vh, -10vh) rotateX(-90deg);
}

.fa1 {
  background-color: #3b5998;
}

.fa2 {
  background-color: #263d70;
  color: #e9d417;
  transform: translate3D(0, 10vh, -10vh) rotateX(-90deg);x
}

.hu1 {
  background-color: #D04034;
}

.hu2 {
  background-color: #ffffff;
  color: #d8ab19;
  transform: translate3D(0, 10vh, -10vh) rotateX(-90deg);
}




@-webkit-keyframes boxFlip {
  0%, 15% {
    -webkit-transform: rotateX(0deg) translateZ(11vw);
  }
  35%, 65% {
    -webkit-transform: rotateX(90deg) translateZ(11vw);
  }
  85%, 100% {
    -webkit-transform: rotateX(0deg) translateZ(11vw);
  }
}
@-moz-keyframes boxFlip {
  0%, 15% {
    -moz-transform: rotateX(0deg) translateZ(11vw);
  }
  35%, 65% {
    -moz-transform: rotateX(90deg) translateZ(11vw);
  }
  85%, 100% {
    -moz-transform: rotateX(0deg) translateZ(11vw);
  }
}
@keyframes boxFlip {
  0%, 15% {
    -webkit-transform: rotateX(0deg) translateZ(11vw);
    -moz-transform: rotateX(0deg) translateZ(11vw);
    -ms-transform: rotateX(0deg) translateZ(11vw);
    -o-transform: rotateX(0deg) translateZ(11vw);
    transform: rotateX(0deg) translateZ(11vw);
  }
  35%, 65% {
    -webkit-transform: rotateX(90deg) translateZ(11vw);
    -moz-transform: rotateX(90deg) translateZ(11vw);
    -ms-transform: rotateX(90deg) translateZ(11vw);
    -o-transform: rotateX(90deg) translateZ(11vw);
    transform: rotateX(90deg) translateZ(11vw);
  }
  85%, 100% {
    -webkit-transform: rotateX(0deg) translateZ(11vw);
    -moz-transform: rotateX(0deg) translateZ(11vw);
    -ms-transform: rotateX(0deg) translateZ(11vw);
    -o-transform: rotateX(0deg) translateZ(11vw);
    transform: rotateX(0deg) translateZ(11vw);
  }
}